*~
*.pyc
*.pyo
*.ogg
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
configure
configure.scan
missing
autom4te.cache/
autoscan.log
config.status
install-sh
stamp-h1
/src/sltv
/sltv/settings.py
sltv.desktop
