Source: sltv
Section: video
Priority: optional
Maintainer: Marcelo Jorge Vieira (metal) <metal@holoscopio.com>
Build-Depends: debhelper (>= 7), python (>= 2.5)
Standards-Version: 3.8.4
Homepage: http://wiki.softwarelivre.org/TV/SltvProject
Vcs-Git: http://git.holoscopio.com/git/sltv.git
Vcs-Browser: http://git.holoscopio.com/?p=sltv.git;a=summary

Package: sltv
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         gstreamer0.10-plugins-base (>= 0.10.19),
         gstreamer0.10-plugins-good (>= 0.10.8),
         gstreamer0.10-plugins-bad (>= 0.10.7),
         gstreamer0.10-ffmpeg (>= 0.10.4),
         gstreamer0.10-alsa (>= 0.10.19),
         gstreamer0.10-x (>= 0.10.19),
         python (>= 2.5),
         python-gst0.10 (>= 0.10.12),
         python-configobj (>= 4.5.2),
         python-gobject (>= 2.14.2),
         python-gtk2 (>= 2.16)
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: audio and video streams manager
 sltv is an audio and video streamer that receives streams from sources
 and sends a stream using icecast. It has a graphical interface that
 shows preview and allows applying dynamic effects and configuring stream.
