Source: sltv
Section: video
Priority: optional
Maintainer: Marcelo Jorge Vieira (metal) <metal@holoscopio.com>
Build-Depends: debhelper (>= 7), python (>= 2.4)
Standards-Version: 3.8.4
Homepage: http://wiki.softwarelivre.org/TV/SltvProject
Vcs-Git: http://git.holoscopio.com/git/sltv.git
Vcs-Browser: http://git.holoscopio.com/?p=sltv.git;a=summary

Package: sltv
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         libgstreamer0.10-0,
         gstreamer0.10-plugins-base,
         gstreamer0.10-plugins-good,
         gstreamer0.10-plugins-bad,
         gstreamer0.10-ffmpeg,
         gstreamer0.10-alsa,
         gstreamer0.10-x,
         python-gst0.10,
         python-configobj (>= 4.7.1),
         python-gobject (>= 2.20.0),
         python-gtk2 (>= 2.16)
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: audio and video streams manager
 sltv is an audio and video streamer that receives streams from sources
 and sends a stream using icecast. It has a graphical interface that
 shows preview and allows applying dynamic effects and configuring stream.
